{% extends "base_client.html" %}
{% block title %}Password Updated{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block page_subtitle %}Password changed successfully{% endblock %}

{% block content %}
<div class="card" style="max-width:720px;">
  <div style="font-weight:950; font-size:18px;"> Password Updated</div>
  <div class="small" style="margin-top:6px;">
    Your password has been changed successfully.
  </div>

  <div style="height:14px;"></div>
  <a class="btn" href="{% url 'client_dashboard' %}">Go to My Dashboard</a>
{% endblock %}